[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pinecone-client = "*"
cohere = "*"
langchain = "*"
huggingface-hub = "*"

[dev-packages]

[requires]
python_version = "3.10"
